body {
    background-color: rgb(164, 223, 192);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5cap;
    padding-top: 5cap;
}

.sezione {
    background-color: rgb(255, 255, 255);
    height: 280px; 
    width: 400px; 
    border: 1px solid black;
    position: relative;
    margin-top: 10px;
}


.nome {font-style: italic;}

.blu{
    background-color: blue;
}

.bianco{
    background-color: rgb(255, 255, 255);
}

.bandiera div {
position: relative;
   float: left
   ; height: 33.3px;
    width: 400px;
}

.quadrato {
    position: absolute;
    width:50%;
    height: 90%;
    top: 20px;
    left: 20px;
    z-index: 10;
    background-color: brown;
    border: 1px solid blue;
    top: 1%; 
    left: 1%;
 }

 .verde {
    background-color: green ;
}

.rosso {
    background-color: red ;
}

.strisce {
    width: 400px;
    height: 133.3pxS;
}

